h2,
h3,
p,
li {
    margin-left: 30px;
}

h1 {
    color: #B7245C;
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
h2 {
    color: #B7245C;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3 {
    color: #FFF275;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

li,
p {
    color: #FFF275;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    padding: 10px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #004085;
    transform: scale(0.98);
}

body {
    background-size: cover;  /* Ensures the whole image fits */
    background-color: lavender; /* Fallback color */
}
